
.users_table{
    font-family: "Roboto", sans-serif;
    margin-top: 50px;
    table{
        table-layout: fixed;
        width: 100%;
    }
    tbody{
        cursor: pointer;
    }
    td, th{
        width: 1%;
        text-align: center !important;
        vertical-align: middle !important;
    }
    & thead tr{
        background-color: #127bd1ad !important;
    }
    & tr:nth-child(even){
        background-color: #127bd1ad;
    }
    & tr:nth-child(odd){
        background-color: #e8e8e8;
    }
    & th:first-child{
        border-top-left-radius: 10px; 
    }
    & th:last-child{
        border-top-right-radius: 10px;
    }
    & tr:last-child td:first-child{
        border-bottom-left-radius: 10px; 
    }
    & tr:last-child td:last-child{
        border-bottom-right-radius: 10px; 
    }
}
.card {
    background-color: #e8e8e8;
    position: absolute;
    padding: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 1px solid #e8e8e8;
    border-radius: 6px;
    span{
        text-align: center;
        font-size: calc(1.375rem + 1.5vw);
    }
}
